<h2 *ngIf="user"> Albums For User: {{user.name}}</h2>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 400px; float: left;">
        <ul class="albums">
            <li *ngFor="let album of albums"
                [class.selected]="album === selectedAlbum"
                (click)="onSelectAlbum(album)">

                <!-- each album goes here -->
                <span class="badge">{{album.id}}</span> {{album.title}}
            </li>
        </ul>
    </div>
    <div style="margin-left: 420px;" *ngIf="selectedAlbum">
        <h2>{{selectedAlbum.name}}</h2>
        <div><label>Album id: </label>{{selectedAlbum.id}}</div>
        <div>
            <label><h4>Album Title: {{selectedAlbum.title}}</h4> </label>
        </div>
        <h4>Photos:</h4>
        <nav class="photos">
        <ul class="photos">
            <li *ngFor="let photo of photos"
                [class.selected]="photo === selectedPhoto"
                (click)="onSelectPhoto(photo)">

                <!-- img src="{{photo.thumbnailUrl}}" alt="Smiley face" height="60" width="60" -->
                <!-- each album goes here -->
                {{photo.title}}
            </li>
        </ul>
        </nav>
    </div>
    <div style="position: absolute; top: 230px; left: 800px;" *ngIf="selectedPhoto">
        <div class="card">
            <img src="{{selectedPhoto.url}}" width="300" height="300">
            <div class="container">
                <h4><b>Photo Title</b> </h4>
                <p>{{selectedPhoto.title}} </p>
                <input type="button" value="Delete" (click)="onDeleteSelectPhoto()"/>
                <br/><br/>
            </div>
        </div>

    </div>


</div>